doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title The Shop
    link(rel='icon', type='image/x-icon', href='/content/images/favicon.ico')
    link(rel='stylesheet', type='text/css', href='/content/styles/site.css')
    link(rel='stylesheet', type='text/css', href='/content/styles/font-awesome.min.css')
  body
    div.bg
      div.sidenav
        a(href='/') Home
        button.dropdown-btn Manage
          i.fa.fa-caret-down
        div.dropdown-container
          a(href='/product/add') Add Product
            i.fa.fa-arrow-right
            
          a(href='/category/add') Add Category
            i.fa.fa-arrow-right
        if user
          form#logout-form(method="post" action="/user/logout")
            a(href="javascript:document.getElementById('logout-form').submit()") Logout
        else
          a(href='/user/login') Login
          a(href='/user/register') Register
    
    
      div.main
        block content
      
      if error
        h2.error-msg= error
      else if success
        h2.success-msg= success    
          
    script(src="/content/js/last.js")
